# Document Purpose:
* purpose of this notebook is to merge the stock price data on particular earnings announcement dates with the EPS data for those dates into one dataframe

# Imports

In [1]:
import pandas as pd

# Cleaning

In [69]:
events_df = pd.read_csv("events_pct_changes.csv")
# drop unecessary columns
events_df = events_df[['date', 'symbol','security_name', 
       'before_eps_date', 'after_eps_date', 'Adj Close',
       'Close',  'Adj Close_pct_change',
       'Close_pct_change']].copy()

In [70]:
eps_data = pd.read_csv("eps_data.csv")

In [71]:
eps_data

,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
0,2024-07-05 08:00:00-04:00,NaN,NaN,NaN,LEDS
1,2024-04-10 08:00:00-04:00,NaN,NaN,NaN,LEDS
2,2024-01-12 06:00:00-05:00,NaN,NaN,NaN,LEDS
3,2023-11-13 06:00:00-05:00,NaN,NaN,NaN,LEDS
4,2023-11-10 04:00:00-05:00,NaN,NaN,NaN,LEDS
...,...,...,...,...,...
22080,2020-08-04 16:00:00-04:00,0.13,0.27,1.0301,MNR
22081,2020-05-06 16:00:00-04:00,0.09,-0.77,-9.2796,MNR
22082,2020-02-06 16:00:00-05:00,0.11,0.04,-0.6190,MNR
22083,2019-11-25 16:00:00-05:00,0.10,0.24,1.5263,MNR
22084,2019-08-01 16:00:00-04:00,0.10,-0.03,-1.3158,MNR

In [72]:
events_df[events_df["symbol"] == "SGH"]
# events_df.head()

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change
1,2023-01-03,SGH,"SMART Global Holdings, Inc. - Ordinary Shares",2023-01-03,2023-01-04,15.75,15.75,0.041667,0.041667
4188,2023-06-29,SGH,"SMART Global Holdings, Inc. - Ordinary Shares",2023-06-29,2023-06-30,29.01,29.01,0.089373,0.089373
6370,2023-10-12,SGH,"SMART Global Holdings, Inc. - Ordinary Shares",2023-10-12,2023-10-13,13.10,13.10,-0.444444,-0.444444

In [73]:
eps_data[eps_data["Symbol"] == "SGH"]

                Earnings Date  EPS Estimate  Reported EPS  Surprise(%) Symbol
12  2025-01-07 05:00:00-05:00           NaN           NaN          NaN    SGH
13  2024-10-10 06:00:00-04:00           NaN           NaN          NaN    SGH
14  2024-06-27 06:00:00-04:00           NaN           NaN          NaN    SGH
15  2024-04-02 06:00:00-04:00          0.25           NaN          NaN    SGH
16  2024-01-09 16:00:00-05:00          0.16          0.24       0.5206    SGH
17  2023-10-12 16:00:00-04:00          0.45          0.35      -0.2285    SGH
18  2023-06-29 16:00:00-04:00          0.40          0.66       0.6384    SGH
19  2023-04-04 16:00:00-04:00          0.60          0.76       0.2720    SGH
20  2023-01-03 16:00:00-05:00          0.57          0.79       0.3831    SGH
21  2022-10-04 16:00:00-04:00          0.65          0.80       0.2320    SGH
22  2022-06-29 16:00:00-04:00          0.76          0.87       0.1523    SGH
23  2022-04-05 16:00:00-04:00          0.72          0.87       0.2028    SGH

In [74]:
#how many rows where reported EPS is NaN: ~= 7803 rows
eps_data[eps_data[[ "Reported EPS"]].isna().all(axis=1)]

# drop rows where reported EPS is NaN:
eps_data = eps_data.dropna(axis = 0, subset= ["Reported EPS"], ignore_index = True).copy()
eps_data

,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
0,2024-01-09 16:00:00-05:00,0.16,0.24,0.5206,SGH
1,2023-10-12 16:00:00-04:00,0.45,0.35,-0.2285,SGH
2,2023-06-29 16:00:00-04:00,0.40,0.66,0.6384,SGH
3,2023-04-04 16:00:00-04:00,0.60,0.76,0.2720,SGH
4,2023-01-03 16:00:00-05:00,0.57,0.79,0.3831,SGH
...,...,...,...,...,...
14277,2020-08-04 16:00:00-04:00,0.13,0.27,1.0301,MNR
14278,2020-05-06 16:00:00-04:00,0.09,-0.77,-9.2796,MNR
14279,2020-02-06 16:00:00-05:00,0.11,0.04,-0.6190,MNR
14280,2019-11-25 16:00:00-05:00,0.10,0.24,1.5263,MNR
14281,2019-08-01 16:00:00-04:00,0.10,-0.03,-1.3158,MNR

In [75]:
eps_data[eps_data[['EPS Estimate', "Reported EPS", "Surprise(%)"]].isna().any(axis=1)]

,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
16,2024-01-03 16:00:00-05:00,0.10,0.10,NaN,SLP
120,2022-11-28 20:00:00-05:00,-0.02,-0.02,NaN,OGI
170,2023-04-27 06:00:00-04:00,0.07,0.07,NaN,WIT
171,2023-01-13 05:00:00-05:00,0.07,0.07,NaN,WIT
176,2021-10-13 06:00:00-04:00,0.07,0.07,NaN,WIT
...,...,...,...,...,...
14085,2024-02-26 19:00:00-05:00,NaN,0.02,4.0,CAVA
14094,2023-11-16 16:00:00-05:00,NaN,-0.34,NaN,VJET
14241,2023-11-14 07:00:00-05:00,NaN,-0.03,NaN,ISPR
14255,2023-08-14 16:00:00-04:00,NaN,0.01,NaN,POL
14271,2022-02-04 16:00:00-05:00,NaN,0.12,NaN,MNR

In [78]:
eps_data.dtypes

Earnings Date     object
EPS Estimate     float64
Reported EPS     float64
Surprise(%)      float64
Symbol            object
dtype: object

In [84]:
# Convert 'date' column to datetime type
# eps_data["Earnings Date"] = eps_data["Earnings Date"].datetime.datetime.date()

eps_data["Earnings Date"] = pd.to_datetime(eps_data["Earnings Date"], utc=True).dt.strftime('%Y-%m-%d')
print(eps_data.dtypes)
eps_data

# events_df['date'] = pd.to_datetime(events_df['date'], utc=True)

Earnings Date     object
EPS Estimate     float64
Reported EPS     float64
Surprise(%)      float64
Symbol            object
dtype: object

      Earnings Date  EPS Estimate  Reported EPS  Surprise(%) Symbol
0        2024-01-09          0.16          0.24       0.5206    SGH
1        2023-10-12          0.45          0.35      -0.2285    SGH
2        2023-06-29          0.40          0.66       0.6384    SGH
3        2023-04-04          0.60          0.76       0.2720    SGH
4        2023-01-03          0.57          0.79       0.3831    SGH
...             ...           ...           ...          ...    ...
14277    2020-08-04          0.13          0.27       1.0301    MNR
14278    2020-05-06          0.09         -0.77      -9.2796    MNR
14279    2020-02-06          0.11          0.04      -0.6190    MNR
14280    2019-11-25          0.10          0.24       1.5263    MNR
14281    2019-08-01          0.10         -0.03      -1.3158    MNR

[14282 rows x 5 columns]

In [85]:
events_df.dtypes

date                     object
symbol                   object
security_name            object
before_eps_date          object
after_eps_date           object
Adj Close               float64
Close                   float64
Adj Close_pct_change    float64
Close_pct_change        float64
dtype: object

# Merge EPS Data, Stock Data Pct Changes

Merge based on date and stock

In [91]:
events_df.sort_values(by = ["symbol", 'date'])

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change
1401,2023-02-28,A,"Agilent Technologies, Inc. Common Stock",2023-02-28,2023-03-01,136.518082,137.509995,-0.031415,-0.031415
3975,2023-05-23,A,"Agilent Technologies, Inc. Common Stock",2023-05-23,2023-05-24,120.312912,120.989998,-0.059468,-0.059468
6088,2023-08-15,A,"Agilent Technologies, Inc. Common Stock",2023-08-15,2023-08-16,120.911308,121.360001,-0.034142,-0.034142
8298,2023-11-20,A,"Agilent Technologies, Inc. Common Stock",2023-11-20,2023-11-21,123.710762,123.919998,0.087208,0.087208
36,2023-01-18,AA,Alcoa Corporation Common Stock,2023-01-18,2023-01-19,48.760040,49.520000,-0.073527,-0.073527
...,...,...,...,...,...,...,...,...,...
3419,2023-05-08,ZYME,Zymeworks Inc. - Common Stock,2023-05-08,2023-05-09,9.880000,9.880000,0.127854,0.127854
1821,2023-03-13,ZYXI,"Zynex, Inc. - Common Stock",2023-03-10,2023-03-13,10.940000,10.940000,0.147954,0.147954
2590,2023-04-27,ZYXI,"Zynex, Inc. - Common Stock",2023-04-26,2023-04-27,11.270000,11.270000,0.009857,0.009857
4727,2023-07-27,ZYXI,"Zynex, Inc. - Common Stock",2023-07-26,2023-07-27,9.750000,9.750000,0.018809,0.018809
6859,2023-10-26,ZYXI,"Zynex, Inc. - Common Stock",2023-10-25,2023-10-26,7.150000,7.150000,0.007042,0.007042

In [93]:
eps_data.sort_values(by = ["Symbol", 'Earnings Date'])

      Earnings Date  EPS Estimate  Reported EPS  Surprise(%) Symbol
9010     2022-05-24          1.12          1.13       0.0087      A
9009     2022-08-16          1.20          1.34       0.1175      A
9008     2022-11-21          1.39          1.53       0.1038      A
9007     2023-02-28          1.30          1.37       0.0504      A
9006     2023-05-23          1.26          1.27       0.0062      A
...             ...           ...           ...          ...    ...
11473    2023-03-13          0.19          0.20       0.0601   ZYXI
11472    2023-04-27          0.01          0.04       2.0008   ZYXI
11471    2023-07-27          0.05          0.09       1.0000   ZYXI
11470    2023-10-26          0.09          0.10       0.0715   ZYXI
11469    2024-02-29          0.17          0.21       0.2353   ZYXI

[14282 rows x 5 columns]

In [122]:
merged_df = events_df.merge(eps_data, left_on = ['date', 'symbol'], right_on = ["Earnings Date", "Symbol"], how = "outer")
merged_df

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
0,2023-01-03,LEDS,SemiLEDS Corporation - Common Stock,2022-12-30,2023-01-03,1.820000,1.820000,0.137500,0.137500,NaN,NaN,NaN,NaN,NaN
1,2023-01-03,SGH,"SMART Global Holdings, Inc. - Ordinary Shares",2023-01-03,2023-01-04,15.750000,15.750000,0.041667,0.041667,2023-01-03,0.57,0.79,0.3831,SGH
2,2023-01-04,RGP,"Resources Connection, Inc. - Common Stock",2023-01-04,2023-01-05,14.715991,15.420000,-0.171858,-0.171858,2023-01-04,0.47,0.59,0.2553,RGP
3,2023-01-04,SLP,"Simulations Plus, Inc. - Common Stock",2023-01-04,2023-01-05,34.700558,34.959999,-0.070954,-0.070954,2023-01-04,0.09,0.06,-0.2941,SLP
4,2023-01-05,CAG,"ConAgra Brands, Inc. Common Stock",2023-01-04,2023-01-05,37.901043,39.970001,0.034153,0.034153,2023-01-05,0.66,0.81,0.2193,CAG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-04,0.13,0.27,1.0301,MNR
16576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-06,0.09,-0.77,-9.2796,MNR
16577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-06,0.11,0.04,-0.6190,MNR
16578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-25,0.10,0.24,1.5263,MNR
16579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-01,0.10,-0.03,-1.3158,MNR

 ### QA:
 confirming merge performed as expected by doing a full outer merge first, then reviewing results for individual stocks. 

 Result = if no earnings date is associated with the "date" field, ok to drop row,

In [120]:
merged_df[merged_df['Earnings Date'].isnull()]

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
0,2023-01-03,LEDS,SemiLEDS Corporation - Common Stock,2022-12-30,2023-01-03,1.820000,1.820000,0.137500,0.137500,NaN,NaN,NaN,NaN,NaN
16,2023-01-12,OGI,Organigram Holdings Inc. - Common Shares,2023-01-11,2023-01-12,3.600000,3.600000,0.084337,0.084337,NaN,NaN,NaN,NaN,NaN
20,2023-01-13,JPM,JP Morgan Chase & Co. Common Stock,2023-01-12,2023-01-13,139.038910,143.009995,0.025235,0.025235,NaN,NaN,NaN,NaN,NaN
22,2023-01-13,WEN,Wendy's Company (The) - Common Stock,2023-01-12,2023-01-13,21.691381,23.080000,0.059688,0.059688,NaN,NaN,NaN,NaN,NaN
23,2023-01-13,WFC,Wells Fargo & Company Common Stock,2023-01-12,2023-01-13,44.220001,44.220001,0.032454,0.032454,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,2023-12-20,OCC,Optical Cable Corporation - Common Stock,2023-12-19,2023-12-20,2.760000,2.760000,-0.014286,-0.014286,NaN,NaN,NaN,NaN,NaN
8449,2023-12-21,APOG,"Apogee Enterprises, Inc. - Common Stock",2023-12-20,2023-12-21,53.380001,53.380001,0.030701,0.030701,NaN,NaN,NaN,NaN,NaN
8450,2023-12-21,CCL,Carnival Corporation Common Stock,2023-12-20,2023-12-21,19.190001,19.190001,0.061981,0.061981,NaN,NaN,NaN,NaN,NaN
8452,2023-12-21,KMX,CarMax Inc,2023-12-20,2023-12-21,78.550003,78.550003,0.051821,0.051821,NaN,NaN,NaN,NaN,NaN
8454,2023-12-21,NKE,"Nike, Inc. Common Stock",2023-12-20,2023-12-21,122.093781,122.529999,0.009059,0.009059,NaN,NaN,NaN,NaN,NaN

In [123]:
stock = "OGI"
single_stock_df = merged_df[(merged_df['symbol'] == stock) | (merged_df['Symbol'] == stock)]
single_stock_df

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
16,2023-01-12,OGI,Organigram Holdings Inc. - Common Shares,2023-01-11,2023-01-12,3.60,3.60,0.084337,0.084337,NaN,NaN,NaN,NaN,NaN
2063,2023-04-11,OGI,Organigram Holdings Inc. - Common Shares,2023-04-11,2023-04-12,2.40,2.40,-0.124088,-0.124088,2023-04-11,-0.02,-0.02,-0.2000,OGI
8441,2023-12-19,OGI,Organigram Holdings Inc. - Common Shares,2023-12-18,2023-12-19,1.27,1.27,-0.030534,-0.030534,2023-12-19,-0.14,-0.13,0.0730,OGI
8518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-13,-0.05,-0.68,-11.6945,OGI
8519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-22,-0.02,0.02,1.8500,OGI
8520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-29,-0.02,-0.02,NaN,OGI
8521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-14,-0.02,-0.09,-3.5000,OGI
8522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-12,-0.03,-0.01,0.6000,OGI

In [118]:
merged_df.sort_values(by=['symbol', 'Symbol', 'date', "Earnings Date"], na_position = 'last').head(2000)

,date,symbol,security_name,before_eps_date,after_eps_date,Adj Close,Close,Adj Close_pct_change,Close_pct_change,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),Symbol
1401,2023-02-28,A,"Agilent Technologies, Inc. Common Stock",2023-02-28,2023-03-01,136.518082,137.509995,-0.031415,-0.031415,2023-02-28,1.30,1.37,0.0504,A
3975,2023-05-23,A,"Agilent Technologies, Inc. Common Stock",2023-05-23,2023-05-24,120.312912,120.989998,-0.059468,-0.059468,2023-05-23,1.26,1.27,0.0062,A
6088,2023-08-15,A,"Agilent Technologies, Inc. Common Stock",2023-08-15,2023-08-16,120.911308,121.360001,-0.034142,-0.034142,2023-08-15,1.36,1.43,0.0480,A
8303,2023-11-20,A,"Agilent Technologies, Inc. Common Stock",2023-11-20,2023-11-21,123.710762,123.919998,0.087208,0.087208,2023-11-20,1.34,1.38,0.0286,A
36,2023-01-18,AA,Alcoa Corporation Common Stock,2023-01-18,2023-01-19,48.760040,49.520000,-0.073527,-0.073527,2023-01-18,-0.92,-0.70,0.2375,AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6432,2023-10-19,CSX,CSX Corporation - Common Stock,2023-10-19,2023-10-20,30.557520,30.760000,0.007204,0.007204,2023-10-19,0.43,0.42,-0.0128,CSX
2001,2023-03-29,CTAS,Cintas Corporation - Common Stock,2023-03-28,2023-03-29,460.550354,465.149994,0.048509,0.048509,2023-03-29,3.04,3.14,0.0340,CTAS
6336,2023-09-26,CTAS,Cintas Corporation - Common Stock,2023-09-25,2023-09-26,476.600342,478.869995,-0.052718,-0.052718,2023-09-26,3.67,3.70,0.0069,CTAS
8451,2023-12-21,CTAS,Cintas Corporation - Common Stock,2023-12-20,2023-12-21,588.635681,589.950012,0.065546,0.065546,2023-12-21,3.49,3.61,0.0332,CTAS
381,2023-02-02,CTHR,Charles & Colvard Ltd. - Common Stock,2023-02-02,2023-02-03,0.900000,0.900000,-0.108911,-0.108911,2023-02-02,-0.01,-0.03,-2.0000,CTHR