In [3]:
import pandas as pd

# Sample DataFrame
data = {'A': ['premarket', 'postmarket', 'premarket', 'postmarket'],
        'B': ['2024-02-28', '2024-02-28', '2024-02-27', '2024-02-27'],
        'C': ['2024-03-01', '2024-03-02', '2024-02-28', '2024-03-01']}
df = pd.DataFrame(data)

In [4]:
df

            A           B           C
0   premarket  2024-02-28  2024-03-01
1  postmarket  2024-02-28  2024-03-02
2   premarket  2024-02-27  2024-02-28
3  postmarket  2024-02-27  2024-03-01

In [5]:
# Replace values in Column B based on condition in Column A
df.loc[df['A'] == 'postmarket', 'B'] = df['C']

print(df)

            A           B           C
0   premarket  2024-02-28  2024-03-01
1  postmarket  2024-03-02  2024-03-02
2   premarket  2024-02-27  2024-02-28
3  postmarket  2024-03-01  2024-03-01