In [3]:
import pandas as pd

# Sample DataFrame
data = {'A': ['premarket', 'postmarket', 'premarket', 'postmarket'],
        'B': ['2024-02-28', '2024-02-28', '2024-02-27', '2024-02-27'],
        'C': ['2024-03-01', '2024-03-02', '2024-02-28', '2024-03-01']}
df = pd.DataFrame(data)

In [4]:
df

            A           B           C
0   premarket  2024-02-28  2024-03-01
1  postmarket  2024-02-28  2024-03-02
2   premarket  2024-02-27  2024-02-28
3  postmarket  2024-02-27  2024-03-01

In [5]:
# Replace values in Column B based on condition in Column A
df.loc[df['A'] == 'postmarket', 'B'] = df['C']

print(df)

            A           B           C
0   premarket  2024-02-28  2024-03-01
1  postmarket  2024-03-02  2024-03-02
2   premarket  2024-02-27  2024-02-28
3  postmarket  2024-03-01  2024-03-01

In [1]:
import pandas as pd

# Create a DataFrame with a MultiIndex
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('first', 'second'))

In [5]:
arrays

[['A', 'A', 'B', 'B'], [1, 2, 1, 2]]

In [2]:
index

MultiIndex([('A', 1),
            ('A', 2),
            ('B', 1),
            ('B', 2)],
           names=['first', 'second'])

In [3]:
df = pd.DataFrame({'data': [10, 20, 30, 40]}, index=index)
df

              data
first second
A     1         10
      2         20
B     1         30
      2         40

In [4]:


# Reset the index
df_reset = df.reset_index()

df_reset

  first  second  data
0     A       1    10
1     A       2    20
2     B       1    30
3     B       2    40